some doc nits


HOWEVER, I did a quick nits check, and there are a few issues 

  -- The draft header indicates that this document updates RFC4034, but the

     abstract doesn't seem to mention this, which it should.

  -- The draft header indicates that this document updates RFC4035, but the

     abstract doesn't seem to mention this, which it should.

Those are easy to fix in the Abstract. 


 ** The document seems to lack a both a reference to RFC 2119 and the

     recommended RFC 2119 boilerplate, even if it appears to use RFC 2119

That's an oversight - that will be needed.

  ** Downref: Normative reference to an Informational RFC: RFC 7129

This is not a big deal, if you need it as normative it is okay.  8198 defines it as normative. 

